[submodule "GestionFormacion"]
	path = GestionFormacion
	url = https://github.com/Juan-D-Wills/GestionFormacion.git
[submodule "GestionFormacionFrontEnd"]
	path = GestionFormacionFrontEnd
	url = https://github.com/Juan-D-Wills/GestionFormacionFrontEnd.git
